{% extends "base.html" %}

{% block content %}
<div class='form-container'>
    <form class="form" method="POST" enctype="multipart/form-data">
        <div class="form__title">
            <h3>Edit Profile</h3>
        </div>
        <div class="form__content">
            {% csrf_token %}
            {% include "includes/form.html" %}
        </div>
        <div class="form__buttons">
            <button class="button" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock content %}
