{% extends "base.html" %}

{% block content %}
<div class='friends-page'>
    <div class='friends-page__requests'>
        <h2>Friend Requests</h2>
        <div class='friends-page__requests-received'>
            <h3>Received</h3>
            {% if friend_requests_received %}
            <ul class='card-container'>
                {% for user in friend_requests_received %}
                <li class='card friend'>
                    <div class='friend__photo'>
                        <div class='friend__photo-frame'>
                            <span class='text--xs'>pic here</span>
                        </div>
                    </div>
                    <div class='friend__name'>
                        <a href={% url "profile-view" pk=user.id %}>
                        <strong>@{{ user.username }}</strong>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <span>You haven't received friend requests...</span>
            {% endif %}
        </div>
        <div class='friends-page__requests-sent'>
            <h3>Sent</h3>
            {% if friend_requests_sent %}
            <ul class='card-container'>
                {% for user in friend_requests_sent %}
                <li class='card friend'>
                    <div class='friend__photo'>
                        <div class='friend__photo-frame'>
                            <span class='text--xs'>pic here</span>
                        </div>
                    </div>
                    <div class='friend__name'>
                        <a href={% url "profile-view" pk=user.id %}>
                        <strong>@{{ user.username }}</strong>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <span>You haven't sent friend requests...</span>
            {% endif %}
        </div>
    </div>
    <hr />
    <div class='friends-page__current'>
        <h2>Friends</h2>
        {% if friends %}
        <ul class='card-container'>
            {% for friend in friends %}
            <li class='card friend'>
                <div class='friend__photo'>
                    <div class='friend__photo-frame'>
                        <span class='text--xs'>pic here</span>
                    </div>
                </div>
                <div class='friend__name'>
                    <a href={% url "profile-view" pk=friend.id %}>
                    <strong>@{{ friend.username }}</strong>
                    </a>
                </div>
            </li>
            {% endfor %}
            {% include "includes/pagination.html" %}
        </ul>
        {% else %}
        <span>You have no friends...</span>
        {% endif %}
    </div>
</div>
{% endblock content %}
