{% extends "base.html" %}

{% block content %}
<div class="form-page">
  <form class="form " method="post" action="{% url 'login' %}{% if next_action %}?next={{ next_action }}{% endif %}">
    <div class="form__header">
    <h2>Log in</h2>
    </div>
    <div class="form__content">
      {% csrf_token %}

      <div class="form__field {% if form.username.errors %}has-error{% endif %}">
        <input type="text" name="{{ form.username.name }}" placeholder="Username" required>
        {% if form.username.errors %}
        <p class="error">{{ form.username.errors.0 }}</p>
        {% endif %}
      </div>
      <div class="form__field {% if form.password.errors %}has-errors{% endif %}">
        <input type="password" name="{{ form.password.name }}" placeholder="Password" required>
        {% if form.password.errors %}
        <p class="error">{{ form.password1.errors.0 }}</p>
        {% endif %}
      </div>
    </div>
    <div class="form__buttons">
      <input class="button" type="submit" value="Log In"/>
    </div>
    <div class="form__footer">
      <span>Don't have an account?</span>
      </span><a id="reg-link" href={% url "register" %} alt="photo">Register here</a></span>
    </div>
  </form>
</div>
{% endblock content %}