{% extends "base.html" %}

{% block content %}
<main>
    {% if request.user.is_authenticated %}
    <div class="profile">
        <div class="info-container">
            <h2>{{user.username}}</h2>
            {% if profile.bio %}
            <div class="bio">
                <p>{{ profile.bio }}</p>
                {% else %}
                <p></p>
            </div>
            {% endif %}
            {% if user == request.user %}
            <a id='edit' href={% url "profile-edit" pk=request.user.id %}>Edit Profile</a>
            {% elif is_requested_by %}
            <a id='accept-friend' href={% url "accept-friend-request" pk=user.id %}>Accept</a>
            <a id='decline-friend' href={% url "decline-friend-request" pk=user.id %}>Decline</a>
            {% elif has_requested_to %}
            <span>Waiting for Response</span>
            {% elif not is_a_friend %}
            <a id='add-friend' href={% url "add-friend" pk=user.id %}>Add Friend</a>
            {% else %}
            <a id='remove-friend' href={% url "remove-friend" pk=user.id %}>Remove Friend</a>
            {% endif %}
        </div>
        <ul class='friends-container'>
            <h3>Friends</h3>
            {% for friend in friends %}
            <a href={% url "profile-view" pk=friend.id %}>
                <li class='friend-card'>
                    <div class='friend-name'>
                        <strong>@{{ friend.username }}</strong>
                    </div>
                    <div class='friend-bio'>
                        {{ friend.bio }}
                    </div>
                </li>
            </a>
            {% empty %}
            {% if user == request.user %}
            <li>You have no friends...</li>
            {% else %}
            <li>{{ user.username }} has no friends...</li>
            {% endif %}
            {% endfor %}
        </ul>
        <ul class='authored_secrets-container'>
            {% if user == request.user %}
            <h3>Your Latest Secrets</h3>
            {% else %}
            <h3>{{ user.username }}'s Secrets</h3>
            {% endif %}
            {% for secret in authored_secrets %}
            <li class='secret-card'>
                <div class='secret-title'>
                    {% if secret.title %}
                    {{secret.title}}
                    {% endif %}
                </div>
                <div class='secret-content'>
                    <p>
                    {{secret.content|truncatechars_html:60}}
                    </p>
                </div>
                <div class='secret-info'>
                    {% comment %} <span class='created_at'>
                        {{secret.created_at}}
                    </span> {% endcomment %}
                    <span class='posted_by'>
                        <strong>@{{secret.user.username}}</strong>
                    </span>
                </div>
                <div class='secret-actions'>
                    <a href={% url "secret_detail" pk=secret.pk %} class='button view'>Read</a>
                    {% if request.user.is_authenticated %}
                        {% if request.user == secret.user %}
                        <a href='#' class='button edit'>Edit</a>
                        <a href='#' class='button delete'>Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
            {% empty %}
            <li>No secrets found...</li>
            {% endfor %}
        </ul>
        <ul class='liked_secrets-container'>
            <h3>Recently Liked</h3>
            {% for secret in liked_secrets %}
            <li class='secret-card'>
                <div class='secret-title'>
                    {% if secret.title %}
                    {{secret.title}}
                    {% endif %}
                </div>
                <div class='secret-content'>
                    <p>
                    {{secret.content|truncatechars_html:60}}
                    </p>
                </div>
                <div class='secret-info'>
                    {% comment %} <span class='created_at'>
                        {{secret.created_at}}
                    </span> {% endcomment %}
                    <span class='posted_by'>
                        {% if secret.user %}
                            {% if secret.user == user %}
                            <strong>@{{secret.user.username}}</strong>
                            {% else %}
                            <a href={% url "profile-view" pk=secret.user.id %}><strong>@{{secret.user.username}}</strong></a>
                            {% endif %}
                        {% else %}
                        <strong>@anonymous</strong>
                        {% endif %}
                    </span>
                </div>
                <div class='secret-actions'>
                    <a href={% url "secret_detail" pk=secret.pk %} class='button view'>Read</a>
                    {% if request.user.is_authenticated %}
                        {% if request.user == secret.user %}
                        <a href='#' class='button edit'>Edit</a>
                        <a href='#' class='button delete'>Delete</a>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
            {% empty %}
            <li>Doesn't like anything...</li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <h3>Login or Register to see who's in DotWho.?</h3>
    {% endif %}
</main>
{% endblock content %}