{% extends "base.html" %}

{% block content %}
<main>
    <a href='{% url "home" %}'>Go back</a>
    <div class='secret_detail-container'>
        <div class='secret_title-container'>
            {% if secret.title %}
            <h1>{{ secret.title }}</h1>
            {% endif %}
        </div>
        <div class='secret_content-container'>
            <p>{{ secret.content }}</p>
        </div>
        <div class='secret_author-container'>
            {% if not secret.is_anonymous %}
            <h3>@{{ secret.user.username }}</h3>
            {% else %}
            <h3>@anonymous</h3>
            {% endif %}    
        </div>
    </div>
</main>
{% endblock content %}