{% extends "base.html" %}

{% block content %}
<div class='secret-page'>
    <div class='secret-page__header'>
        {% if secret.title %}
        <h1>{{ secret.title }}</h1>
        {% endif %}
    </div>
    <div class='secret-page__content'>
        <p>{{ secret.content }}</p>
    </div>
    <div class='secret-page__footer'>
        <span class="upvote">
            {% if not is_already_voted %}
            <a class="upvote__link" href={% url 'upvote' secret.id %}><i class="upvote__icon fa-solid fa-thumbs-up"></i></a>
            {% else %}
            <a class="upvote__link" href={% url 'upvote' secret.id %}><i class="upvote__icon fa-solid fa-thumbs-up has-vote"></i></a>
            {% endif %}
            <span class="upvote__count">{{ secret.upvote_count }}</span>
        </span>
        {% if not secret.is_anonymous %}
        <span class='author text--md'><a href={% url "profile-view" pk=secret.author.id %}>@{{ secret.author.username }}</a></span>
        {% else %}
        <span class='author text--md'>@anonymous</span>
        {% endif %}    
</div>
<hr />
<div class="secret-page__comments container mt-4">
    {% load comment_tags %}
    {% render_comments secret request %}
    {% comment %} {% include_bootstrap %} {% endcomment %}
</div>
{% endblock content %}