{% extends "base.html" %}

{% block content %}
<div class='form-container'>
    <form class="form" method='POST' novalidate>
        <div class='form__header'>
            <div class='card secret'>
                <div class='secret__title'>
                    <span><b>
                    {% if secret.title %}
                    {{secret.title}}
                    {% endif %}
                    </b></span>
                </div>
                <div class='secret__content text--sm'>
                    <p>
                    {{secret.content}}
                    </p>
                </div>
            </div>
        </div>
        <div class="form__content">
            {% csrf_token %}
            <p>Are you sure you want to delete this post?</p>
        </div>
        <div class='form__buttons'>
            <button class="button" type='submit'>Yes</button>
            <a class="button" href={% url "home" %}>No</a>
        </div>
    </form>
</div>
{% endblock  %}