:root {
    --color-background-primary: hsl(0, 0%, 100%);
    --color-background-secondary: hsl(235, 36%, 81%);
    --color-text-secondary: hsl(341, 12%, 30%);
    // --text-color:
    --color-pagination-primary: hsl(235, 36%, 81%);
    --color-pagination-secondary: hsl(341, 12%, 30%);
    --color-pagination-tertiary: hsl(41, 100%, 93%);
}
