{% load static %}
<header>
    <div class='logo'>
        <a href={% url "home" %} class='logo__anchor'>
            <img src={% static "img/dotwho-logo.png" %} alt="DotWho logo" class='logo__img'>
            <span class='logo__name text--xxl'>DotWho</span>
        </a>
    </div>
    <nav class='nav'>
        <ul class='nav__list'>
            {% if request.user.is_authenticated %}
            <a href={% url "home" %}><li class='nav__item'>Home</li></a>
            <a href={% url "view-friends" %}><li class='nav__item'>Friends</li></a>
            {% endif %}
        </ul>
        <ul class='nav__list'>
            {% if request.user.is_authenticated %}
            <a href={% url "profile-view" pk=request.user.id %}><li class='nav__item'> {{request.user.username}} </li></a>
            <a href={% url "logout" %}><li class='nav__item'> Logout </li></a>
            {% else %}
            <a href={% url "login" %}><li class='nav__item'> Login </li></a>
            <a href={% url "register" %}><li class='nav__item'> Register </li></a>
            {% endif %}
        </div>
    </nav>
</header>