{% load static %}
<header class='header'>
    <div class='logo'>
        <a href={% url "home" %} class='logo__anchor'>
            <img src={% static "img/dotwho-logo.png" %} alt="DotWho logo" class='logo__img'>
            <span class='logo__name text--xxl'>DotWho</span>
        </a>
    </div>
    <nav class='nav'>
        <ul class='nav__list'>
            {% if request.user.is_authenticated %}
            <li class='nav__item text--md'><a href={% url "home" %}>Home</a></li>
            <li class='nav__item text--md'><a href={% url "view-friends" %}>Friends</a></li>
            {% endif %}
        </ul>
        <ul class='nav__list'>
            {% if request.user.is_authenticated %}
            <li class='nav__item nav__item--user text--md truncate'><strong><a href={% url "profile-view" pk=request.user.id %}> {{request.user.username}} </a></strong></li>
            <li class='nav__item text--md'><a href={% url "logout" %}> Logout </a></li>
            {% else %}
            <li class='nav__item text--md'><a href={% url "login" %}> Login </a></li>
            <li class='nav__item text--md'><a href={% url "register" %}> Register </a></li>
            {% endif %}
        </ul>
    </nav>
</header>
