<nav>
    <div class='app-logo'>
        <h4 class='app-name'>.Who</h4>
    </div>
    <div class='utilities'>
        {% if request.user.is_authenticated %}
        <a href='#'>Home</a>
        <a href='#'>Walls</a>
        <a href='#'>My Secrets</a>
        <a href='#'>Friends</a>
        {% endif %}
    </div>
    <div class='account'>
        {% if request.user.is_authenticated %}
        <a href='#'> {{request.user.username}} </a>
        <a href='#'> Logout </a>
        {% else %}
        <a href='#'> Login </a>
        {% endif %}
    </div>
</nav>