@use '../abstracts/mixins' as m;

.card {
  // width: min(100%, 230px);
  // height: min(250px, auto);
  text-align: center;
  border: 2px solid var(--color-background-secondary);
  border-radius: calc(var(--text-base-size)*0.75);
  box-shadow: 0 0 8px var(--color-background-secondary);
  padding: calc(var(--text-base-size));
  
  // *, *::before, *::after {
  //     outline: auto;
  //   }

  &.secret {
    display: flex;
    flex-direction: column;
  }

  &.friend {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1em;
    padding-inline: 3em;

    @include m.respond-to('medium') {
      flex-direction: column;
    }
  }

  .secret {
    &__title {
      min-height: calc(var(--text-base-size)*2);
      margin-bottom: var(--text-base-size);
    }

    &__content {
      min-height: calc(var(--text-base-size)*4);
      margin-bottom: calc(var(--text-base-size));
      
      p {
        margin-bottom: 0;
      }
    }

    &__info {
      cursor: default;
      color: var(--color-text-tertiary);
      
      margin-bottom: calc(var(--text-base-size)/2);
    }

    &__actions {
      display: flex;
      justify-content: space-evenly;
    }
  }

  // .friend {
  //   &__photo {
  //     // display: grid;
  //     // place-content: center;
  //     // // margin-bottom: var(--text-base-size);
  //   }
  // }
}
