@use '../abstracts/mixins' as m;

.secret-page {
    padding-block: calc(var(--text-base-size) * 3);
    padding-inline: calc(var(--text-base-size) * 1.5);

    @include m.respond-to('medium') {
        padding-inline: calc(var(--text-base-size) * 3);
    }

    @include m.respond-to('large') {
        padding-inline: calc(var(--text-base-size) * 6);
    }

    &__header {
        text-align: center;
        margin-bottom: calc(var(--text-base-size) * 1.5);
    }

    &__content {
        text-align: center;
        margin-bottom: calc(var(--text-base-size) * 2);

        @include m.respond-to('large') {
            margin-bottom: calc(var(--text-base-size) * 3);
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: calc(var(--text-base-size) * 0.5);
        margin-bottom: var(--text-base-size);

        @include m.respond-to('medium') {
            padding-inline: 15%;
            margin-bottom: calc(var(--text-base-size) * 1.5);
        }

        @include m.respond-to('large') {
            padding-inline: 30%;
        }

        .author {
            font-style: italic;
        }
    }
}
